*.class
*.log
.idea
/target/
/project/target/
/modules/backend/target/
/modules/frontend/target/
/modules/shared/.js/target/
/modules/shared/.jvm/target/
/project/project/target/
/modules/backend/out/
/modules/backend/upload/
/modules/backend/localDeploy/
/modules/backend/static/jakon/
/.bsp/
/node_modules/
/modules/backend/static/css/main.css
/modules/backend/static/css/main.css.map
/modules/backend/static/js/app.js
/modules/backend/static/js/app.js.map
